<?xml version="1.0" encoding="UTF-8"?>
<Root caption="<%-title%>">
  <Setting>
    <Page name="通用A4凭证(205*280)">
      <ColInterval>1.84</ColInterval>
      <LineInterval>5.14</LineInterval>
      <PrintBackgroundImage/>
      <CodeTitleFile>DG_convert.dat</CodeTitleFile>
    </Page>
  </Setting>
  <DataBasket/>
  <InArgs/>
  <Content>
    <Constant Bold="true" BoundTableIdOfAft="" Doubleheight="true"
      Doublewidth="false" Height="9.88" HorizontalCompress="false"
      IDE_ID="constant38" IsFixedTop="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="86.25"
      LineSeparate="5.14" Pos="Absolute" TextAlign="Align_Center"
      Top="10.23" Tripleheight="false" Triplewidth="false"
      VerticalAlign="Align_Middle" Width="34.4" border-bottom="0"
      border-left="0" border-right="0" border-top="0">
      <Bold>
        <Doubleheight><%-title%></Doubleheight>
      </Bold>
    </Constant>
    <%_ var Top = 22.23; %>
    <%_ groups.forEach(function(row,rowIndex){ _%>
    <%_  Top = Top + 5.48;Top = Number(Top.toFixed(2));<!-- 行高间距 5.48 -->%>
    <%_ row.forEach(function(item,colIndex){ _%>
    <%_ var ideId = rowIndex + '' + colIndex %>
      <%_ 
        <!-- 英文 1.90 中文 3.81 冒号2.38 -->
        var enLen = (item.label.match(/[a-zA-Z0-9]/g)||[]).length;
        var cnLen = (item.label.match(/[\u4e00-\u9fa5]/g)||[]).length;
        var totalWidth = 84.6;
        if(item.isFullRow || item.isAmt){
          totalWidth = 173;
        }
        <!-- var labelWidth = Number(labelWidth1); -->
        var labelWidth = Number((enLen*1.90+cnLen*3.81+3.88).toFixed(2));
        var col1VarLeft = 37.57+(labelWidth-17.5);
        var col2VarLeft = 126.12+(labelWidth-17.5);    
        labelWidth = labelWidth.toFixed(2);
        col1VarLeft = col1VarLeft.toFixed(2);
        col2VarLeft = col2VarLeft.toFixed(2);
        var variableWidth = totalWidth - labelWidth;
        variableWidth = Number(variableWidth.toFixed(2));
      _%>
    <%_ if(colIndex==0) {_%>
    <%_ var varHeight = 5.12; _%>
    <%_ if(item.isAmt) {_%>
    <%_ 
      varHeight = 7.41;
      Top=Top+2.51; 
      varTop=Top-2.50;
      labelTop=Top-1.51;

      Top = Number(Top.toFixed(2));
      varTop = Number(varTop.toFixed(2));
      labelTop = Number(labelTop.toFixed(2));
    _%>
    <Constant Bold="false" BoundTableIdOfAft="" Doubleheight="false"
      Doublewidth="false" Height="5.12" HorizontalCompress="false"
      IDE_ID="constant<%=ideId%>" IsFixedTop="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="20.11"
      LineSeparate="5.14" Pos="Absolute" TextAlign="Align_Left"
      Top="<%=labelTop%>" Tripleheight="false" Triplewidth="false"
      VerticalAlign="Align_Middle" Width="<%=labelWidth%>" border-bottom="0"
      border-left="0" border-right="0" border-top="0"><%=item.label%>：</Constant>
    <Variable AddHeightOfLine="0.0" Bold="false"
      BoundTableIdOfAft="" CcyFlag="" CodeTitle="" Comment=""
      DefaultValue="" Doubleheight="false" Doublewidth="false"
      Height="<%=varHeight%>" HorizontalCompress="false"
      IDE_ID="variable<%=ideId%>" IsFixedTop="false" IsParseCRLF="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="<%=col1VarLeft%>"
      Length="0" LineSeparate="5.14" Pos="Absolute"
      TextAlign="Align_Left" Top="<%=varTop%>" Tripleheight="false"
      Triplewidth="false" Type="A" VerticalAlign="Align_Middle"
      Width="<%=variableWidth%>" ade="" border-bottom="0" border-left="0"
      border-right="0" border-top="0">
      <Doubleheight><%=item.value%></Doubleheight></Variable>
    <%_ } _%>
    <%_ if(!item.isAmt) {_%>
    <Constant Bold="false" BoundTableIdOfAft="" Doubleheight="false"
      Doublewidth="false" Height="5.12" HorizontalCompress="false"
      IDE_ID="constant<%=ideId%>" IsFixedTop="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="20.11"
      LineSeparate="5.14" Pos="Absolute" TextAlign="Align_Left"
      Top="<%=Top%>" Tripleheight="false" Triplewidth="false"
      VerticalAlign="Align_Middle" Width="<%=labelWidth%>" border-bottom="0"
      border-left="0" border-right="0" border-top="0"><%=item.label%>：</Constant>
    <Variable AddHeightOfLine="0.0" Bold="false"
      BoundTableIdOfAft="" CcyFlag="" CodeTitle="" Comment=""
      DefaultValue="" Doubleheight="false" Doublewidth="false"
      Height="<%=varHeight%>" HorizontalCompress="false"
      IDE_ID="variable<%=ideId%>" IsFixedTop="false" IsParseCRLF="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="<%=col1VarLeft%>"
      Length="0" LineSeparate="5.14" Pos="Absolute"
      TextAlign="Align_Left" Top="<%=Top%>" Tripleheight="false"
      Triplewidth="false" Type="A" VerticalAlign="Align_Middle"
      Width="<%=variableWidth%>" ade="" border-bottom="0" border-left="0"
      border-right="0" border-top="0"><%=item.value%></Variable>
    <%_ } _%>
    
    <%_ } _%>
    <%_ if(colIndex==1) {_%>
    <Constant Bold="false" BoundTableIdOfAft="" Doubleheight="false"
      Doublewidth="false" Height="5.12" HorizontalCompress="false"
      IDE_ID="constant<%=ideId%>" IsFixedTop="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="108.83"
      LineSeparate="5.14" Pos="Absolute" TextAlign="Align_Left"
      Top="<%=Top%>" Tripleheight="false" Triplewidth="false"
      VerticalAlign="Align_Middle" Width="<%=labelWidth%>" border-bottom="0"
      border-left="0" border-right="0" border-top="0"><%=item.label%>：</Constant>
    <Variable AddHeightOfLine="0.0" Bold="false"
      BoundTableIdOfAft="" CcyFlag=""
      CodeTitle="APLY_DRCT_CD_option" Comment="" DefaultValue=""
      Doubleheight="false" Doublewidth="false" Height="5.12"
      HorizontalCompress="false" IDE_ID="variable<%=ideId%>"
      IsFixedTop="false" IsParseCRLF="false"
      IsParseStatisticalInfo="false" IsPrint="true" Left="<%=col2VarLeft%>"
      Length="0" LineSeparate="5.14" Pos="Absolute"
      TextAlign="Align_Left" Top="<%=Top%>" Tripleheight="false"
      Triplewidth="false" Type="A" VerticalAlign="Align_Middle"
      Width="<%=variableWidth%>" ade="" border-bottom="0" border-left="0"
      border-right="0" border-top="0"><%=item.value%></Variable>
    <%_ } _%>
    <%_ }); _%>
    <%_ }); _%>
    <%_ tables.forEach(function(table,tableIndex){ _%>
      <%_ 
        var tableTop = Top + 8 + tableIndex*15;
        var rowWidth = 166.42; 
        var colWidth = (rowWidth/table.length).toFixed(2);
      %>
    <Table Border="1" ColIndexOfPrintCheckedRow="0"
      DomainPanelTableId="" HasHead="true" HasRowNumColumn="false"
      Height="12.7" IDE_Equals_H="true" IDE_Equals_W="true"
      IDE_ID="tablePrintSerach_Id" IsPrint="true" Left="19.58"
      LineSeparate="5.14" Pos="Absolute" RowNumOfPage="0"
      TableDataExpr="" Top="<%=tableTop%>" Width="<%=rowWidth%>" lastRowEnterAddRow="true">
      <Tr Height="6.35" Width="<%=rowWidth%>">
        <%_ table.forEach(function(row,rowIndex){ _%>
        <Td Bold="false" CodeTitle="" Colspan="1"
          Doubleheight="false" Doublewidth="false"
          Height="6.35" HorizontalCompress="false"
          IDE_Col_Index="<%=rowIndex%>" IDE_Row_Index="0" Rowspan="1"
          TextAlign="Align_Center" Tripleheight="false"
          Triplewidth="false" Type="" Variable=""
          VerticalAlign="Align_Middle" Width="<%=colWidth%>"
          border-bottom="1" border-left="1" border-right="1"
          border-top="1" colIndex="<%=rowIndex%>" rowIndex="0"><%=row.label %></Td>
        <%_ }); _%>
      </Tr>
      <Tr Height="6.35" Width="<%=rowWidth%>">
        <%_ table.forEach(function(row,rowIndex){ _%>
        <Td Bold="false" CodeTitle="DNMN_OPTION" Colspan="1"
          Doubleheight="false" Doublewidth="false"
          Height="6.35" HorizontalCompress="false"
          IDE_Col_Index="<%=rowIndex%>" IDE_Row_Index="1" Rowspan="1"
          TextAlign="Align_Center" Tripleheight="false"
          Triplewidth="false" Type="" Variable=""
          VerticalAlign="Align_Middle" Width="<%=colWidth%>"
          border-bottom="1" border-left="1" border-right="1"
          border-top="1" colIndex="<%=rowIndex%>" rowIndex="1"><%=row.value%></Td>
        <%_ }); _%>
      </Tr>
    </Table>
    <%_ }); _%>
    
  </Content>
</Root>
